meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
// Google fonts cdn
link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap', rel='stylesheet')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css', integrity='sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=', crossorigin='anonymous')
// Compiled and minified CSS Materialize
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
// Compiled and minified CSS Boostrap
link#bootstrap-css(href='/css/agregado/bootstrap.min.css', rel='stylesheet')
// Favicon
link(rel='apple-touch-icon', sizes='120x120', href='/img/comprobar.png')
link(rel='icon', type='image/png', sizes='32x32', href='/img/comprobar.png')
link(rel='icon', type='image/png', sizes='16x16', href='/img/comprobar.png')
// Bootrstrap 4 Admin template
link(href='/css/agregado/all.min.css', rel='stylesheet', type='text/css')
link(href='/css/agregado/sb-admin-2.min.css', rel='stylesheet')
// Mis estilos
link(rel='stylesheet', href='/css/agregado/app.css')
link(rel='stylesheet', href='/css/agregado/pixel.css')
link(rel='stylesheet', href='/css/agregado/login.css')
title #{nombrePagina}
