if locals.mensajes
                each categoria in Object.keys(locals.mensajes)
                    each error in mensajes[categoria]
                        .alerta(class=`alert-${categoria}` role='alert').alert.col-10.offset-1.col-md-8.offset-md-2.text-center.mb-0.mt-3
                            p(class="mb-0")= error