script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
//script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
script(src='https://kit.fontawesome.com/a602e044b9.js')
//script(src="https://cdnjs.cloudflare.com/ajax/libs/iamdustan-smoothscroll/0.4.0/smoothscroll.min.js")
//script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/popper.min.js', integrity='sha256-O17BxFKtTt1tzzlkcYwgONw4K59H+r1iI8mSQXvSf5k=', crossorigin='anonymous')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg=', crossorigin='anonymous')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/headroom/0.11.0/headroom.min.js', integrity='sha256-AsUX4SJE1+yuDu5+mAVzJbuYNPHj/WroHuZ8Ir/CkE0=', crossorigin='anonymous')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js', integrity='sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=', crossorigin='anonymous')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7+1/js/sb-admin-2.min.js', integrity='sha256-Y0Z5pT4qPGaoUSHoxW+J8fIWjQnjc7v03WBEUnt9SQ0=', crossorigin='anonymous')

//script(src="/js/agregado/jquery.min.js")
script(src="/js/agregado/materialize.min.js")
script(src="/js/agregado/popper.min.js")
script(src="/js/agregado/bootstrap.min.js")
script(src="/js/agregado/headroom.min.js")
script(src="/js/agregado/bootstrap.bundle.min.js")
script(src="/js/agregado/jquery.easing.min.js")
script(src="/js/agregado/sb-admin-2.min.js")
script(src="/js/agregado/jquery.waypoints.min.js")
script(src="/js/agregado/smooth-scroll.polyfills.min.js")
script(src="/js/agregado/prism.js")
script(src="/js/agregado/pixel.js")
script(src="/js/agregado/personal.js")

//script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js', integrity='sha256-tQ3x4V2JW+L0ew/P3v2xzL46XDjEWUExFkCDY0Rflqc=', crossorigin='anonymous')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js', integrity='sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=', crossorigin='anonymous')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/prism.min.js', integrity='sha256-YZQM6/hLBZYkb01VYf17isoQM4qpaOP+aX96hhYrWhg=', crossorigin='anonymous')
script(src="/dist/bundle.js")