// Modal Content
#modal-default.modal.fade.bg-transparent(tabindex='-1', role='dialog', aria-labelledby='modal-default', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-header
                h6#modal-title-default.modal-title Acerca de y Términos y Condiciones
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                p
                    | Con ControlTask puedes administrar tus proyectos, asignarles tareas, marcarlas como completas o incompletas, así como también borrar, editar y crear proyectos.
                p   Aplicación web creada por: 
                    span.msr Carlos Silvestri. 
                    | (Todos los derechos reservados).
                p   Iconos diseñados por 
                    a(href='https://www.flaticon.es/autores/smashicons', title='Smashicons') Smashicons
                    |  from 
                    a(href='https://www.flaticon.es/', title='Flaticon') www.flaticon.es
                p
                    | En este sitio web utilizamos cookies. Al usar ContrlTask, estás de acuerdo con los términos y condiciones mencionados. 
            .modal-footer
                button.btn.btn-sm.btn-secondary(type='button') Entendido