<!DOCTYPE html>
html(lang='es')
    head
      include partials/header2
    body.fondo1
        .container
            .row
                include partials/mensajeDeError2
                .col-10.offset-1.col-lg-6.offset-lg-3.form1.mt-5.z-depth-5
                    img.centrar.d-block.mt-2(src='img/comprobar.png', alt='', srcset='')
                    h1.text-center.titulo.mt-2
                        | Control
                        span Task
                    h2.text-dark.opsans.text-center.mt-5 Inicia sesión
                    form#formulario.text-center(method="POST" action="/iniciar-sesion")
                        .input-field.col-12.col-md-10.offset-0.offset-md-1.pl-0.pr-5.pr-md-3
                            .input-field
                                i.material-icons.prefix.black-text email
                                input#autocomplete-input.autocomplete(type='email' name="email" required='' value= email)
                                label(for='autocomplete-input') Email
                            .input-field.mb-5
                                i.material-icons.prefix.black-text.fas.fa-lock
                                input#autocomplete-input.autocomplete(type='password' name="password"  value= password)
                                label(for='autocomplete-input') Contraseña
                        input.btn.btn-success.btn-block.col-10.offset-1.col-md-8.offset-md-2.mb-3.mb-md-4(type='submit', value='Entrar', data-loading-text='Loading...')
                    .row
                        a.text-muted.msr.linkH.p15px.col-12.offset-0.col-md-5.offset-md-1.text-center.mt-4(href='crear-cuenta') ¡Crea una cuenta aquí!
                        a.text-muted.msr.linkH.p15px.col-12.offset-0.col-md-5.text-center.mt-4.mb-md-4(href='reestablecer') ¿Olvidaste tu contraseña?
                        a.text-muted.msr.linkH.p15px.col-12.text-center.mt-4(data-toggle='modal', data-target='#modal-default') Acerca de                        
        include partials/terminosCondiciones
        include partials/scripts
